#container {
  display: flex;
  padding: 20px 30px;
  margin-bottom: 20px;
  background-color: #111722;
  color: #7c828e;

  #logo {
    .logo-image {
      max-width: 67px;
      max-height: 90px;
    }
  }

  #links {
    flex-grow: 1;
    display: flex;
    gap: 20px;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    user-select: none;

    .link {
      cursor: pointer;
      &:hover {
        color: white;
      }
      &.active {
        color: white;
      }
    }
  }
}
