<div>
  <h2>Calculator</h2>
  <input type="number" #num1 placeholder="Enter first number" />
  <input type="number" #num2 placeholder="Enter second number" />
  <br />
  <button (click)="calculate(num1.valueAsNumber, num2.valueAsNumber, 'add')">
    Add
  </button>
  <button
    (click)="calculate(num1.valueAsNumber, num2.valueAsNumber, 'subtract')"
  >
    Subtract
  </button>
  <button
    (click)="calculate(num1.valueAsNumber, num2.valueAsNumber, 'multiply')"
  >
    Multiply
  </button>
  <button (click)="calculate(num1.valueAsNumber, num2.valueAsNumber, 'divide')">
    Divide
  </button>
  <br /><br />
  <p>Result: {{ result }}</p>
</div>
