<div>
  <h2>XP Needed to Reach Target Level</h2>

  <!-- Form to input current level, current XP, and target level -->
  <div>
    <select (change)="onChange($event)" [(ngModel)]="selectedProfession">
      <option *ngFor="let profession of professions" [value]="profession">
        {{ profession }}
      </option>
    </select>

    <label>Current Level:</label>
    <input #currentLevel type="number" value="1" />

    <label>Current XP:</label>
    <input #currentXP type="number" value="0" />

    <label>Target Level:</label>
    <input #targetLevel type="number" value="100" />

    <button (click)="calculateXP(currentLevel.valueAsNumber, currentXP.valueAsNumber, targetLevel.valueAsNumber)">Calculate</button>
  </div>

  <!-- Results -->
  <ul>
    <li *ngFor="let result of xpNeededResults">
      Log: {{ result[0] }}, Total Logs Needed: {{ result[1] }}, Last Level: {{ result[2] }}, Time Will Take: {{ result[3] }}
    </li>
    @if (xpNeededResults.length > 0) {
      <div>Total time for all actions: {{ totalTime }}</div>
    }
  </ul>
  @if (xpNeededResults.length === 0) {
    <div>{{ noResourcesError }}</div>
  }
</div>
